* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: rgb(234, 234, 239);
}

.move-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.move-info div, #reset {
    border-radius: 5px;
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    margin: 1em 0;
    padding: .7em;
    width: 22em;
    color: black;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    border-style: none;
}

@media screen and (max-width: 1120px) {
    body {
        flex-direction: column;
    }
    .move-info {
        border: 1px solid black;
        border-radius: 5px;
    }
    .move-info div, #reset {
        margin: 0;
        box-shadow: none;
        border-radius: 0px;
        padding: .1em;
    }

    #moves {
        border-radius: 5px 5px 0 0;
    }
    #reset {
        border-radius: 0 0 5px 5px;
    }
}

.board {
    order: 1;
    width: 30.4em;
    margin: 1em auto 1em;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 7.2em;
    height: 9em;
    margin: .2em;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    background: white;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

