* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: rgb(80, 80, 83);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 3vh;
}

.move-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: white;
}
.move-info div, button {
    border-radius: 5px;
    background: rgb(200, 51, 51);
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    margin: 20px 0;
    padding: 10px;
    width: 16vw;
}

.board {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.699);
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

