* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    display: flex;
    height: 100vh;
    background: rgb(234, 234, 239);
}

.move-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    left: 100px;
    top: 250px;
    color: white;
}
.move-info div, #reset {
    border-radius: 5px;
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    margin: 20px 0;
    padding: 10px;
    width: 16vw;
    color: black;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.board {
    order: 1;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

